<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript" src="logisticsScript.js"></script>
</head>

<body>
<div id="main">

    <div id="order" v-if="UI=='main'">
        <h1>客戶訂單</h1>
        <table border=1>
            <tr>
                <td>序號</td>
                <td>商品</td>
                <td>總額</td>
                <td>狀態</td>
                <td>客戶序號</td>
                <td>-</td>
            </tr>
            <tr v-for="order in orders">
                <td>{{ order.id }}</td>
                <td>{{ order.commodity }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.userId }}</td>
                <td>
                    <button @click="markDelivered(order.id)">
                        標記為已送達
                    </button>

                </td>
            </tr>
        </table>
    </div>

    <div v-if="UI=='main'">
        <h1>商家訂單</h1>
        <table border=1>
            <tr>
                <td>序號</td>
                <td>商品</td>
                <td>總額</td>
                <td>狀態</td>
                <td>客戶序號</td>
                <td>-</td>
            </tr>
            <tr v-for="order in orders">
                <td>{{ order.id }}</td>
                <td>{{ order.commodity }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.userId }}</td>
                <td>
                    <button @click="markShipped(order.id)">
                        標記為已寄送
                    </button>

                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

<script>
    const logisticsApp = Vue.createApp({
        data() 
        {
            return {
                orders: [], // 從伺服器加載的訂單列表
                UI: 'main' // 設置初始 UI 狀態
            }
        },
        methods:
        {
            // 列出客戶訂單
            loadOrders()
            {
                fetch('logisticsControl.php?act=listOrder')
                    .then(response => response.json())
                    .then(data => 
                    {
                        this.orders = data;
                    });
            },
            // 標記訂單為已送達
            markDelivered(orderId)
            {
                fetch(`logisticsControl.php?act=markDelivered&id=${orderId}`)
                    .then(response => response.text())
                    .then(data =>
                    {
                        console.log(data);
                        // 在此處刷新訂單列表
                        this.loadOrders();
                    });
            },
           // 列出商家訂單
           loadOrders1()
            {
                fetch('logisticsControl.php?act=listShop')
                    .then(response => response.json())
                    .then(data => 
                    {
                        this.orders = data;
                    });
            },
            // 標記訂單為已寄送
            markShipped(orderId)
            {
                fetch(`logisticsControl.php?act=markShipped&id=${orderId}`)
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                        // 在此處刷新訂單列表
                        this.loadOrders();
                    });
            },

        },
        mounted() {
            // 在應用程式創建時列出訂單列表
            this.loadOrders();
        }
    }).mount("#main");
</script>